/** @format */

.image {
  width: -webkit-fill-available;
  height: 760px;
  filter: brightness(0.2);
}

.container {
  position: relative;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-primary);
  font-family: var(--font-inter);
  top: -400px;
}

.container2 {
  position: relative;
  padding: 0px 60px;
  top: -400px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: -webkit-fill-available;
}

.container h3 {
  margin: 0;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}

.slick .slick-track {
  width: -webkit-fill-available !important;
}

.slick {
  width: -webkit-fill-available !important;
}

.slick .slick-next {
  display: none !important;
}

.container span {
  font-size: 24px;
  font-weight: 400;
  /* width: 50%; */
}

.container2 button {
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-inter);
  font-size: 16px;
  padding: 16px 24px;
  width: fit-content;
  cursor: pointer;
  border-radius: 8px;
}

.container p {
  font-size: 18px;
  text-align: right;
  margin-top: -30px;
  margin-right: 60px;
}

.container button:hover {
  background-color: var(--color-dark);
}
/* 
.container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.container2 span {
  font-size: 30px;
  font-weight: 500;
  color: var(--color-primary);
  font-family: var(--font-inter);
}

@media only screen and (max-width: 768px) {
  .container h3 {
    font-size: 24px;
  }

  .container span {
    font-size: 16px;
    text-align: justify;
  }

  .container,
  .container2 {
    padding: 0 24px;
  }

  .container2 {
    margin-top: 10px;
  }
}
