/** @format */
@import "../../style.css";

.firstsection {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: -webkit-fill-available;
  box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
}

.logo {
  width: 230px;
  height: auto;
}

.book {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-inter);
  background-color: var(--color-secondary);
  padding: 16px 24px;
  color: var(--color-primary);
  border-radius: 8px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 23px 50px 23px 100px;
}

.nav a span {
  font-size: 16px;
  font-family: var(--font-inter);
  color: var(--color-text);
  font-weight: 500;
}
.nav img {
  width: 60px;
}

.navul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-inter);
  padding: 0px;
  color: var(--color-text);
}

.navul a {
  color: var(--color-text);
}

.lists {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.media {
  position: absolute;
  right: 100px;
  top: 80px;
}

.media2 {
  position: absolute;
  right: 0;
  top: 80px;
}

.media > ul,
.media2 ul {
  margin: 0;
  list-style: none;
  background-color: white;
  padding: 0;
  border: 1px solid hsla(0, 0%, 94%, 0.5);
}

.media li,
.media2 li {
  padding: 16px;
  border-bottom: 1px solid hsla(0, 0%, 94%, 0.5);
}

.flmobile {
  display: none;
}

.listmenu {
  display: none;
}

.sidebar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 100px;
  }
  .nav {
    padding: 6px 24px;
  }
  .fllogo {
    display: none;
  }

  .flmobile {
    display: block;
  }

  .list,
  .lists,
  .listcontact {
    display: none;
  }

  .listmenu {
    display: block;
  }

  .sidebar {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: -600px;
    overflow-y: auto;
    transform: translateX(600px);
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    background-size: cover;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .active {
    transform: translateX(0);
    right: 0;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
  }

  .fade-out {
    transform: translateX(600px);
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }

  .imageclose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
    box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
  }

  .sidebarmenu {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-top: 20px;
  }
  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 20px;
    gap: 20px;
    font-size: 20px;
    font-family: var(--font-inter);
    font-weight: 400;
    color: var(--color-text);
  }

  .dropdown span {
    cursor: pointer;
  }
  .sidebarlist {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text);
    font-family: var(--font-inter);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rotate {
    transform: rotate(90deg);
  }
  .sidebarmenu hr {
    border: 1px solid hsla(33, 93%, 94%, 1);
    width: -webkit-fill-available;
  }
  .book {
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 0;
  }

  .nav img {
    width: 45px;
  }

  .nav a span {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .nav {
    padding: 20px;
  }

  .navul {
    font-size: 16px;
    gap: 16px;
  }
}
