/** @format */

body {
  margin: 0;
  padding: 0;
}

.toast div {
  justify-content: center !important;
  width: fit-content !important;
  font-family: var(--font-inter) !important;
  top: 26px !important;
  border-radius: 8px !important;
  background-color: var(--color-dark) !important;
  color: white !important;
}
