/** @format */

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 82px;
  padding: 30px 60px;
}

.div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter";
}

.div img {
  width: 100px;
}

.grid,
.grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  border: 1px solid hsla(180, 11%, 89%, 1);
  font-family: "Inter";
  border-right: none;
}

.grid span {
  width: -webkit-fill-available;
  text-align: center;
  border-right: 1px solid hsla(180, 11%, 89%, 1);
  background-color: hsla(180, 17%, 98%, 1);
  padding: 8px;
}

.grid2 span {
  width: -webkit-fill-available;
  text-align: center;
  border-right: 1px solid hsla(180, 11%, 89%, 1);
  padding: 8px;
  overflow-wrap: anywhere;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}
