/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  /* background-color: hsla(0, 0%, 96%, 1); */
}

body::-webkit-scrollbar {
  display: none;
}
:root {
  /* Colours */
  --color-text: hsla(0, 0%, 17%, 1);
  --color-primary: hsla(0, 0%, 100%, 1);
  --color-primary2: hsla(0, 0%, 93%, 1);
  --color-text2: hsla(0, 0%, 27%, 1);
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-orange: hsla(12, 100%, 60%, 1);
  --color-background: hsla(0, 0%, 12%, 1);
  --color-health: hsla(219, 79%, 66%, 1);
  --color-forward: hsla(218, 48%, 30%, 1);
  --color-gero: hsla(90, 37%, 50%, 1);
  --color-bloom: hsla(263, 100%, 66%, 1);
  --color-trybe: hsla(345, 81%, 75%, 1);

  /* Fonts */
  --font-inter: "Inter";
  --font-montserrat: "Montserrat";
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
